@tailwind base;
@tailwind components;
@tailwind utilities;

*{ 
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background: #1d2134;
    height: 100vh;
}

.info{
    display: flex;
    margin-bottom: 5px;
}